.glow {
  text-decoration-line: underline;
  font-size: 80px;
  color: rgb(240, 27, 27);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes identifier {
}
css {
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
        0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
        0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
}

body {
  background-image: url(wall.png);
  padding-top: 10px;
}
.uno {
  width: 250px;
  text-align: center;
  padding: 8px 0px;
  border-radius: 5px;
  background-color: grey;
  border: none;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.form-container {
  position: relative;
  width: 320px;
  height: auto;
  padding: 20px 30px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(253, 66, 66);
  margin: auto;
  position: relative;
}

ul.list {
  list-style-type: none;
  text-align: center;
  color: rgb(124, 53, 53);
}
ul.list li {
  width: 250px;
}
ul.list li input {
  font-weight: bolder;
  font-size: larger;
  color: rgb(253, 29, 29);
  width: 250px;
  text-align: center;
  padding: 8px 0px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}
